<!DOCTYPE html>
<html lang="{pageLanguage}">
  <head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">                      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{websiteTitle} - {pageTitle}</title>
        {websiteFavicon}
        <meta name="generator" content="{generator}" />
        <meta name="description" content="{metadataDescription}" />
        {websiteAnalytic}
        <meta name="keywords" content="{metadataKeywords}" />
        <meta name="robot" content="index, follow" />
        <meta property="og:title" content="{pageTitle}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{WebsiteSocialPic}" />
        <meta property="og:url" content="{websiteURL}" />
        <meta property="og:description" content="{metadataDescription}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="{websiteURL}" />
        <meta name="twitter:title" content="{pageTitle}" />
        <meta name="twitter:description" content="{metadataDescription}" />
        <meta name="twitter:image" content="{WebsiteSocialPic}" />
        <meta name="author" content="FermoLUG" />
        <link type="text/plain" rel="author" href="http://www.linuxfm.org/humans.txt" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css" />
        <style>
      :root {--links: #0070CC;}
      @font-face {
        font-family: "Atkinson";
        src:
        url("fnt/Atkinson-Hyperlegible-Regular-102.ttf"),
        url("fnt/Atkinson-Hyperlegible-Regular-102a.woff2"),
        url("fnt/Atkinson-Hyperlegible-Regular-102.woff");
      }

      * {font-family: "Atkinson", sans-serif; text-align: justify;}
      nav, footer{display: flex; justify-content: space-between; align-items: center; align-items: flex-start;}
      footer ul{list-style-type: none; padding: 0.5em;  flex-grow: 1}
      header nav *{font-weight: bold; min-height:3em; color: black; /*border: 1px solid red */}
      nav details {display: inline-flex; width: 100%}
      header nav a img {min-height: 3em}
      .focus_el {display: flex; flex-direction:row; justify-content: space-between; border-radius: 1em; padding: .5rem; border-top: .3em solid #0070CC; border-bottom: .3em solid #0070CC; gap: 1em;} 
      .inlineimg{display: inline; height: 1rem}
        </style>
      </head>
      <body>
        <header>
      <nav>
        {websiteNavbar}
      </nav>
    </header>
    <nav>
      <details>
        <summary>MENU</summary>
        {websiteMenu}
      </details>
    </nav>
    <section>
      <h1>{pageTitle}</h1>
      <!--<aside><h6>Azioni (Condividi, Contribuisci)</h6><i>Data: {pagePublishedOn}</i> <a href="none" title="Modifica su Github"><img class="inlineimg" src="img/edit.svg">Contribuisci</a> <a href="whatsapp:whatsapp://send?text=https://fermolug.it/{pageLink}"><img src="img/whatsapp_bl.svg" class="inlineimg"> Condividi su WhatsApp</a> <a href="none"><img src="img/mastodon_bl.svg" class="inlineimg"> Condividi su Mastodon</a></aside>-->
      {pageContent}
    </section>
    {WebsiteArticlesWidget}
    <aside>
      <details>
        <summary>Info e Guide</summary>
        <a href="https://biasco.ch/contenuti-aperti/" target="_blank">Adotta Linux!</a>
        <a href="https://archive.org/details/AppuntiDiInformaticaLibera/20080000.a2/" target="_blank">Appunti Linux</a>
        <a href="https://docs.gimp.org/2.10/it/" target="_blank">Manuale GIMP</a> 
        <a href="https://www.howtoforge.com/" target="_blank">HowtoForge</a>
        <a href="http://it.tldp.org/" target="_blank">Italian Docs</a>
        <a href="http://erlug.linux.it/linuxdazero/" target="_blank">Linux Da Zero</a>
        <a href="http://www.distrowatch.com/" target="_blank">Linux Distros</a>
        <a href="https://www.kernel.org/" target="_blank">Linux Kernel</a>
        <a href="http://www.econsultant.com/i-want-open-source-software/index.html" target="_blank">Lista Sw Open</a>
        <a href="https://www.gnu.org/philosophy/free-sw.it.html" target="_blank">SoftwareLibero</a>
        <a href="https://www.lffl.org/" target="_blank">Supporto lffl</a>
        <a href="https://www.linuxrsp.ru/win-lin-soft/index-italian.html" target="_blank">Win «=» Linux</a>
      </details>
      <details>
        <summary>Utilità</summary>
        <h5>⚖️</h5>
        <a href="https://www.jdavide.it/" target="_blank">SW Open per Avvocati open</a>
        <hr>
        <h5>📚</h5>
        <a href="https://www.liberliber.it/" target="_blank">Biblioteca Libera</a>
        <a href="https://it.wikipedia.org/wiki/Pagina_principale" target="_blank">Enciclopedia Libera</a>
        <hr>
        <h5>🌱</h5>
        <a href="http://www.eu-energystar.org/it/it_008b.shtml" target="_blank">Consumo PC</a>
        <hr>
        <h5>🔧</h5>
        <a href="https://portforward.com/" target="_blank">Configura Web</a>
        <a href="https://www.sitecopying.com/" target="_blank">PHP Clone Script</a>
        <hr>
        <h5>🕹️</h5>
        <a href="https://github.com/liflg" target="_blank">Giochi Loki+</a>
        <hr>
        <h5>🐧🏪</h5>
        <a href="https://linuxsi.com/" target="_blank">Linux – Negozi</a>
        <hr>
        <h5>🎶</h5>
        <a href="http://www.anomolo.com/" target="_blank">Musica Anomolo</a>
        <a href="https://www.jamendo.com/?language=it" target="_blank">Musica Jamendo</a>
        <a href="http://magnatune.com/" target="_blank">MusicaMagnatune</a>
        <a href="https://imslp.org/wiki/Pagina_principale" target="_blank">Spartiti Liberi</a>
      </details>
      <details>
        <summary>Edicola</summary>
        <a href="http://www.linuxfocus.org/Italiano/" target="_blank">LinuxFocusMagaz</a>
        <a href="http://www.linuxjournal.it/linux" target="_blank">LinuxJournal</a>
        <a href="http://www.linux-magazine.it/" target="_blank">LinuxMagazine</a>
        <a href="http://www.linuxpro.it/" target="_blank">LinuxPro</a>

        <a href="https://vivere.me/eAla" target="_blank">LD2023 su VivereFermo</a>
      </details>
    </aside>
    <footer>
      {WebsiteFooter}
    </footer>
  </body>
</html>
